.DS_Store
Thumbs.db
.vercel
.cache
*.log
*.pem
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log

# secrets
.env
.env*
.env.*
.env.*.local

# dotenv sync: see https://ui.dotenv.org for docs and specification
.env.me
# we want this to be committed!
!.env.project

# and will allow example/sample/template/demo files, of course
!.env.*.example
!.env.*.sample
!.env.*.template
!.env.*.demo
